// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 4em;
  height: auto;
  img {
    max-width: 100%;
    margin: 1.5em auto;
  }
}