// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


header {
  background-color: #290000;
  color: #fff;
  min-height: 20vh;
  border-top: 4px solid rgb(118, 195, 143);
  h1 {
    font-size: 28px;
    font-family: Georgia,Times,Times New Roman,serif;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: left;
  }

  li {
    //box-sizing: border-box;
  }
  a {
    border: 1px solid black;
    padding: 3px;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
      border:1px solid #76C38F;
      border-radius: 10px;
      background-color: #76C38F;
    }
  }

}
