/*
*Casablanca project Hamburger Menu
 */

.ham-menu {
  position: fixed;
  top: 3em;
  left:3em;
  z-index: 3;
  a {
    color: #fff;
  }
  .ham-menu_img {
    img {
      width: 50px;
      height: 50px;
    }
  }
  .ham-menu_ul{
    position: absolute;
    top:3.2em;
    background-color: rgba(193, 158, 158, 0.8);
    width: 18em;
    display: none;
    ul {
      list-style: none;
      text-transform: uppercase;

    }
  }
  .ham-menu_img:hover .ham-menu_ul {
    display: block;
  }
}