/*
* Casablanca isotope component
*/


.casa-isotope-component {
  // btn navigation
  .isotope-buttons {
    justify-content: center;

    button {
      background-color: transparent;
      margin: 0.5em 1em;
      border: transparent;
    }
  }


  // elements
  .isotope {
    .isotope-item {
      margin: 0.3em;
      text-align: center;
      @include media-breakpoint-up(xs) {
        max-width: 100%;
      }
      @include media-breakpoint-up(md) {
        width: 45%;
        margin: 0;
      }
      @include media-breakpoint-up(lg) {
        width: auto;
      }
      img {
        width: 95%;
        height: 95%;
        margin-bottom: 15px;


      }
    }
  }

  .isotope-branding {

  }
  .isotope-web-design {

  }
  .isotope-mobile {

  }
  .isotope-ilustration {

  }

}